/* Extra small devices (phones, 576px and down) */
@media only screen and (max-width: 576px) {
  /* CSS rules for extra small devices */
  .home .home-banner .home-banner-text h2 {
    font-size: 3rem;
  }
  .home .home-banner .home-banner-text h3 {
    font-size: 1.5rem;
  }
  .countdown-container {
    display: none;
  }
  .testimonials .testimonial-wrapper {
    padding: 0.5rem;
  }
  .username h3 {
    font-size: 1rem;
  }
  .username span {
    font-size: 1.2rem;
  }
  .sm-screen {
    display: none;
  }
  .info li p {
    margin-bottom: 0;
  }
  .social-connects {
    display: flex;
    justify-content: center;
  }
  .social-connects span {
    font-size: 1rem;
    margin: 0.1rem;
  }
  .form-group {
    margin-bottom: 10px;
  }
  .copyright {
    padding: 0;
  }
  .copyright p {
    line-height: 1.5rem;
  }
}

/* Small devices (portrait tablets and large phones, 576px and up) */
@media only screen and (min-width: 576px) {
  /* CSS rules for small devices */

  /* .pro-img {
    height: 400px;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
  }

  .product-list .product-image .sale,
  .special-img .sale {
    top: -13px;
    left: -1px;
    border-radius: 30px;
  }

  .products .up_to_content h2 {
    font-size: 1rem;
    width: 100%;
    text-align: center;
  }

  .countdown-counter {
    gap: 0.5rem;
  }

  .countdown-counter li {
    font-size: 0.8rem;
    padding: 1rem;
    font-weight: 500;
  }

  .special .countdown-container {
    padding-top: 0;
  }

  .testimonials .testimonial-wrapper {
    padding: 0.5rem;
  } */

  /* .username h3 {
    font-size: 1.2rem;
  }

  .username span {
    font-size: 1rem;
  }

  .contact .form-control {
    height: 2.2rem;
    padding: 1rem;
    font-size: 1rem;
    margin: 0 0 0.5rem 0;
  }

  footer {
    font-size: small;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* CSS rules for medium devices */
  #header .navbar-nav .nav-item .nav-link,
  .nav-link:not(:last-child) {
    text-align: start;
    /* border-bottom: 1px solid var(--text-grey); */
  }
  .products {
    padding-top: 0;
    margin: 1rem 0;
  }
  .headline {
    padding: 2rem 0 1rem 0;
  }
  .products .up_to_content h2 {
    font-size: 1.5rem;
  }
  .special {
    padding: 1rem 0;
  }
  .special .countdown-container {
    padding-top: 0;
  }
  .countdown-counter {
    gap: 0.5rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* CSS rules for large devices */
  .home .home-banner .home-banner-text h2 {
    font-size: 2rem;
    font-weight: 600;
  }

  .countdown-counter li {
    font-size: 1rem;
    padding: 1.2rem;
    margin: auto;
  }

  .home .home-banner .home-banner-text h3 {
    font-size: 1rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .product-image {
    height: 100%;
    width: 300px;
  }
  .product-image img {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
}

/* 
@media (max-width: 990px) {
 
}

@media (max-width: 600px) {
 } */
